<header role="banner" id="global-header" class="{{ page.layout }}">
	
	<div class="container">
	
		<div class="header-logo">
	        <a href="{{ site.url | append: site.baseurl }}" title="Go to home page" id="logo" class="content">
	            <picture>
					<source srcset="{{ site.logo-header-svg | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" type="image/svg+xml">
					<img class="header-logo" src="{{ site.logo-header-png | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}">
				</picture>
				<h1>{{ site.title }}</h1>
	        </a>
	    </div>
	    
	    <div class="header-options">
		    <ul>
			   <li id="restart" title="Show all Trello boards">Show boards</li>
			   <li id="disconnect" title="Disconnect Trello from Printello and log out">Logout</li>
		    </ul>
	    </div>
    
	</div>
	
</header>