<div id="loggedIn-Options" class="container-fluid">

	{% include nav.html %}

	<div class="container">

		<div id="page" class="row align-items-center justify-content-center">

			<div id="options">{% include options.html %}</div>

			<div id="boardList" style="display: none;"></div>

			<div id="loggedIn-PrintScreen" class="col-sm-12 col-md-8" style="display: none;">{% include print.html %}</div>

		</div>

	</div>

</div>

<div id="loggedIn-Output" style="display: none;">

	<div id="output">

	</div>

</div>