<h1 class="text-center" tabindex="100">Select display options</h1>

	<div id="options-layout">

		<fieldset tabindex="101">

			<legend><h2 class="text-center">Choose a layout</h2></legend>

			<div class="row">

				<div class="col-4 option">
				    <label for="display-mode--option--layout-list--filter-label">
				    	<img src="{{ '/layout--label-ordered-list.png' | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" class="home mx-auto d-block img-fluid" alt="">
				    	<input type="radio" name="display-mode--option--layout" id="display-mode--option--layout-list--filter-label" value="list--filter-label" checked tabindex="102">
				    	<span>Display cards in lists, sorted by label</span>
				    </label>
				</div>

				<div class="col-4 option">
					<label for="display-mode--option--layout-list--all">
						<img src="{{ '/layout--unordered-list.png' | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" class="home mx-auto d-block img-fluid" alt="">
						<input type="radio" name="display-mode--option--layout" id="display-mode--option--layout-list--all" value="list--unordered-list">
				    	<span>Display cards in unordered lists</span>
					</label>
				</div>

				<div class="col-4 option">
					<label for="display-mode--option--layout-swim-lanes">
					    <img src="{{ '/layout--label-ordered-swimlanes.png' | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" class="home mx-auto d-block img-fluid" alt="">
						<input type="radio" name="display-mode--option--layout" id="display-mode--option--layout-swim-lanes" value="list--swim-lanes">
						<span>Display all cards in swim lanes</span>
					</label>
				</div>

			</div>

			<button onclick="swapDivs('options-columns','options-layout');" class="btn btn-lg btn-app" title="Submit layout options" role="button" tabindex="103">Next</button>

		</fieldset>

	</div>

	<div id="options-columns" style="display: none;">

		<fieldset tabindex="201">

			<legend><h2 class="text-center">Choose how many columns to show</h2></legend>

			<div class="row">

				<div class="col-4 option">
					<label for="numberOfCols1">
						<img src="{{ '/layout--unordered-list-2-col.png' | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" class="home mx-auto d-block img-fluid" alt="">
						<input type="radio" name="display-mode--option--columns" id="numberOfCols1" value="2" tabindex="202">
						<span>2 columns</span>
					</label>
				</div>

				<div class="col-4 option" role="button">
					<label for="numberOfCols2">
						<img src="{{ '/layout--unordered-list.png' | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" class="home mx-auto d-block img-fluid" alt="">
						<input type="radio" name="display-mode--option--columns" id="numberOfCols2" value="3" checked>
						<span>3 columns</span>
					</label>
				</div>

				<div class="col-4 option">
					<label for="numberOfCols3">
						<img src="{{ '/layout--unordered-list-4-col.png' | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" class="home mx-auto d-block img-fluid" alt="">
						<input type="radio" name="display-mode--option--columns" id="numberOfCols3" value="4">
						<span>4 columns</span>
					</label>
				</div>

			</div>

			<button onclick="swapDivs('options-data','options-columns');" class="btn btn-lg btn-app" title="Submit number of columns" role="button" tabindex="203">Next</button>

		</fieldset>

	</div>

	<div id="options-data" style="display: none;">

		<fieldset tabindex="301">

			<legend><h2 class="text-center">Toggle features to display</h2></legend>

			<div class="row">

				<div class="col-4 option">
					<label for="display-mode--option--check-marks">
						<img src="{{ '/layout--done-mark.png' | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" class="home mx-auto d-block img-fluid" alt="">
						<input id="display-mode--option--check-marks" type="checkbox" value="true" checked tabindex="302">
					    <span><span class="tick"></span>"Done" check marks</span>
					</label>
				</div>

				<div class="col-4 option">
					<label for="display-mode--option--due-date">
						<img src="{{ '/layout--due-date.png' | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" class="home mx-auto d-block img-fluid" alt="">
					    <input id="display-mode--option--due-date" type="checkbox" value="true" checked tabindex="303">
					    <span><span class="tick"></span>Due dates</span>
					</label>
				</div>

				<div class="col-4 option">
					<label for="display-mode--option--labels">
						<img src="{{ '/layout--label.png' | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" class="home mx-auto d-block img-fluid" alt="">
					    <input id="display-mode--option--labels" type="checkbox" value="true" checked tabindex="304">
					    <span><span class="tick"></span>Labels</span>
					</label>
				</div>

			</div>

			<button onclick="swapDivs('boardList','options');" class="btn btn-lg btn-app" title="Submit layout options" role="button" tabindex="305">Next</button>


		</fieldset>

	</div>
