<img src="{{ '/print.png' | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" class="print mx-auto d-block" alt="{{ site.title }} logo (left), an arrow pointing rightward (middle) towards a representation of an A4 landscape piece of paper">

<h1 class="text-center">Time to print</h1>

<p><strong>You might need to change your printer's settings in order for the Board to print correctly.</strong></p>

<p>Set <strong>margins</strong> to <strong>0mm</strong> and change the <strong>print backgrounds and images</strong> setting to <strong>on</strong>.</p>

<p><strong>Something still not right?</strong><p>

<p>This web app was tested in Google Chrome. If you're not using Chrome and things don't look right, change your browser to Chrome. If you're already using Chrome, and something's still not right, <a href="{{ '/issues/new' | prepend: site.github-repo }}" title="Submit an issue report on Github">file a bug report</a>.</p>

<p class="text-center"><a id="print" class="btn btn-lg btn-app" role="button" title="Select to print the Trello Board (triggers system print dialog)">Print my board</a></p>