<script src="{{ '/js/jquery.js' | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}"></script>

<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src="{{ '/js/tether.js' | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ '/js/bootstrap.js' | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}"></script>

<script src="{{ '/js/marked.js' | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="https://api.trello.com/1/client.js?key=0c85c40d0209877de954697c8b7bcb7e"></script>
<script src="{{ '/js/trello.js' | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}"></script>