<script src="{{ '/js/jquery.js' | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}"></script>

<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src="{{ '/js/tether.js' | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="{{ '/js/bootstrap.js' | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}"></script>

<script src="{{ '/js/marked.js' | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}"></script>
<script src="https://api.trello.com/1/client.js?key=1afd2d1bc73327a473da6ba8dd6f951d"></script>
<script src="{{ '/js/trello.js' | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}"></script>
