div#loggedOut {
	
	display: grid;
	display: -ms-grid;
	position: relative;
	
	grid-template-columns: 	30% 70%;
	-ms-grid-columns: 		30% 70%;
	grid-template-rows:		auto;
	-ms-grid-rows:			auto;
	grid-template-areas: 	"logo message";
	
	margin: 		50px 0 auto 0;
	padding: 		60px 0 40px 0;
					
	background: 	$blue;
	color: 			$white;
	
	picture.loggedout-logo {
		
		grid-area: 			logo;
		-ms-grid-column: 	1;
		
		padding: 0 40px;
								
		img, source {
			
			width: 100%;
			
		}
	}
		
	div.loggedout-message {
		
		grid-area: 			message;
		-ms-grid-column: 	2;
		
		margin: 		0;
		padding: 		0;
		
		h1 {
			font-size: 50px;
			line-height: 50px;
			max-width: 600px;
			margin-top: 20px;
		}
		
		p:first-of-type {
			font-size: 24px;
			max-width: 600px;
		}
		
		p {
			font-size: 18px;
		}
	}

	nav {
			
		padding: 20px 0;
		
	}


}

div#boardSelect {

	display: grid;
	position: relative;
	
	grid-template-columns: 	35% auto;
	grid-template-rows:		auto;
	
	grid-template-areas: 	"options boards";
	
	grid-gap: 40px;
	
	margin: 50px 0;
			
	h1 {
		padding: 	15px 0 20px;
		margin: 	0;
		
		font-size: 		32px;
		
		border-top: 	5px solid $blue;
	}
	
	div#options {
		grid-area: options;	
		
		h2 {
			display: block;
			
			font-size: 		24px;
			padding:		0 0;
			margin: 		0;
			
		}
		
		fieldset {
			margin: 20px 0;
			
			&:first-of-type {
				margin: 0 0;
			}
		}
		
		label {
			display: 	block;
			position: 	relative;
			width: 		100%;
			clear: 		both;
		}
		
	}
	
	div#boards {
		grid-area: 		boards;
		
		display:		grid;
		
		grid-template-columns: 		auto auto;
		grid-template-rows:			auto;
		grid-gap:			20px;
		grid-auto-flow: 			row;
				
		a {
			
			color:			$white;
			
			div.board-name {
				display: block;
				position: relative;
				
				padding: 5px 40px 5px 10px;
				min-height: 100px;
				width: 100%;
				
				font-size: 19px;
				font-weight: 600;
				
				background: 	$blue;
			}
			
			&:hover, 
			&:focus {
				div.board-name {
					background:		$cyan;
				}
			}
		}
	}

}

div#printScreen {
	
	display: grid;
	position: relative;
	
	grid-template-columns: 	30% auto;
	grid-template-rows:		auto;
	grid-template-areas: 	"logo content";
	
	margin: 50px 0;
		
	background: 	$blue;
	color: 			$white;
	
	picture.loggedIn-PrintScreen-logo {
		grid-area: 			logo;
		
		justify-self:		center;
		align-self: 		flex-start;
		
		max-width: 			120px;
		max-height: 		120px;
		
		margin: 			60px 0 0;
		padding: 			0px;
				
		picture, img, source {
			width: 100%;
			max-width: 120px;
			max-height: 120px;
		}
	}
		
	div.loggedIn-PrintScreen-message {
		
		display: block;
		position: relative;
		
		grid-area: 		content;
		
		margin: 		40px 0;
		padding: 		0px 60px 0px 0px;
		
		h1 {
			font-size: 50px;
			line-height: 50px;
			max-width: 600px;
			margin-top: 20px;
		}
		
		p:first-of-type {
			font-size: 24px;
			max-width: 600px;
		}
		
		p {
			font-size: 18px;
		}
	}

	nav {
		
		display: inline-block;
			
		padding: 20px 0;
		
	}

}

div#output {
	
	display: none;
	
	div#cover-page {
		
		display: grid;
		page-break-after: always;
		
		background: 		$blue;
		color: 				$white;
		
		width: 				100%;
		height: 			100%;
		
		padding: 30px;
		
	}
	
	div#lists {
		display: grid;
		
		grid-template-rows: auto;
		
		@include sm {
			max-width: 	540px;
			width: 		540px;
		}
		
		@include md {
			max-width: 	720px;
			width: 		720px;
		}
		
		@include lg {
			max-width: 	960px;
			width: 		960px;
		}
		
		@include xl {
			max-width: 	960px;
			width: 		960px;
		}
		
		&.columns-2 {
			grid-template-columns: 		1fr 1fr;
			-ms-grid-columns: 		1fr 1fr;
			grid-template-areas: 		"list-1 list-2";
			-ms-grid-template: 		"list-1 list-2";
			grid-column-gap: 			30px;
			-ms-grid-column-gap: 			30px;
		}
		
		&.columns-3 {
			grid-template-columns: 		1fr 1fr 1fr;
			-ms-grid-columns: 		1fr 1fr 1fr;
			grid-template-areas: 		"list-1 list-2 list-3";
			-ms-grid-template: 		"list-1 list-2 list-3";
			grid-column-gap: 			30px;
			-ms-grid-column-gap: 			30px;
		}
		
		&.columns-4 {
			grid-template-columns: 		1fr 1fr 1fr 1fr;
			-ms-grid-columns: 		1fr 1fr 1fr 1fr;
			grid-template-areas: 		"list-1 list-2 list-3 list-4";
			-ms-grid-template: 		"list-1 list-2 list-3 list-4";
			grid-column-gap: 			30px;
			-ms-grid-column-gap: 			30px;
		}	
		
	}
	
	div.list {
		
		display: block;
		
	}
	
	div#swim-lanes {
		
		div.swim-lane-page {
						
			page-break-after: always;
		
			grid-template-rows: auto;
			
			@include sm {
				max-width: 	540px;
				width: 		540px;
			}
			
			@include md {
				max-width: 	720px;
				width: 		720px;
			}
			
			@include lg {
				max-width: 	960px;
				width: 		960px;
			}
			
			@include xl {
				max-width: 	960px;
				width: 		960px;
			}
			
			div.headings,
			div.swim-lane {
				display: grid;
				padding: 4px 0;
				
				h2 {
					display: block;
					position: relative;
					
					font-size: 18px;
					line-height: 24px;
					
					word-break: hyphenate;
					word-wrap: break-word;
				}
				
			}
			
			div.swim-lane {
				border-top: 1px solid $gray-100;
			}
			
			&.columns-2 {
				div.headings,
				div.swim-lane {
					grid-template-columns: 		100px 1fr 1fr;
					grid-template-areas: 		"lane 	list-1 	list-2";
					grid-column-gap: 			30px;
				}
			}
			
			&.columns-3 {
				div.headings,
				div.swim-lane {
					grid-template-columns: 		100px 1fr 1fr 1fr;
					grid-template-areas: 		"lane 	list-1 	list-2 list-3";
					grid-column-gap: 			20px;
				}
			}
			
			&.columns-4 {
				div.headings,
				div.swim-lane {
					grid-template-columns: 		100px 1fr 1fr 1fr 1fr;
					grid-template-areas: 		"heading 	list-1 	list-2 	list-3 	list-4";
					grid-column-gap: 			10px;
				}
			}
			
		}
		
	}
	
	ul.cards {
		list-style: none;
		
		margin: 0;
		padding: 0;
		
		li {
			
			font-size: 		18px;
			line-height: 	28px;
			
			&.ticks-on {
				display: grid;
				
				grid-template-rows: 		auto;
				grid-template-columns: 		30px auto;
				grid-template-areas: 		"tick content";
				
				span.no-tick {
					grid-area:	tick;

					display: inline-block;
					
					font-size: 15px;
					line-height: 28px;

					margin-top: 4px;
					width: 20px;
					height: 20px;
					
					background: $white;
					color: transparent;
					border-radius: 50px;
					border: 3px solid $gray-300;
					text-align: center;
				}
				span.tick {
					grid-area:	tick;

					display: inline-block;
					
					font-size: 15px;
					line-height: 28px;

					margin-top: 4px;
					width: 20px;
					height: 20px;
					
					background: $green;
					color: #fff;
					border-radius: 50px;
					text-align: center;
					
					&:after {
						position: relative;
						font-size: 18px;
						line-height: 22px;
						margin-top: 0px;
						content: "✓";
					}
				}

			}
			
			span.content {
				grid-area: content;
				
				span.date {
					font-size: 14px;
					line-height: 28px;
					
					padding: 2px 4px;
					margin-right: 5px;
					
					color:		$white;
					background: $blue;
					border-radius: 5px;
				}
				
				span.label {
					display: inline;
					
					font-size: 14px;
					line-height: 28px;
					
					padding: 2px 4px;
					margin-right: 5px;
					
					color:		$white;
					background: $blue;
					border-radius: 5px;
					
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					
					&.green {
						background: $green;
					}
	
					&.yellow {
						background: $yellow;
					}
	
					&.orange {
						background: $orange;
					}
	
					&.purple {
						background: $purple;
					}
	
					&.red {
						background: $red;
					}
	
					&.blue {
						background: $blue;
					}
	
					&.sky {
						background: $sky;
					}
	
					&.lime {
						background: $lime;
					}
	
					&.pink {
						background: $pink;
					}
	
					&.black {
						background: $black;
					}
					
				}
			}

		}
	}
	
}