main#four-oh-four {
	
	div.container {
				
		div#error-message {
			
			display: grid;
			display: -ms-grid;
			position: relative;
			
			grid-template-columns: 	30% 70%;
			-ms-grid-columns: 		30% 70%;
			grid-template-rows:		auto;
			-ms-grid-rows:			auto;
			grid-template-areas: 	"logo message";
			
			margin: 		50px 0 auto 0;
							
			background: 	$red;
			color: 			$white;
			
			picture.error-image {

				grid-area: 			logo;
				-ms-grid-column: 	1;
								
				max-width: 			200px;
				max-height: 		200px;
									
				margin-top: 60px;
				margin-left: auto;
				margin-right: auto;
										
				img, source {
					
					width: 100%;
					max-width: 100%;
					max-height: 200px;
				}
			}
				
			div.error-message {
								
				grid-area: 			message;
				-ms-grid-column: 	2;
				
				margin: 		40px 0;
				padding: 		0;
				
				h1 {
					font-size: 50px;
					line-height: 50px;
					max-width: 600px;
					margin-top: 20px;
				}
				
				p:first-of-type {
					font-size: 24px;
					max-width: 600px;
				}
				
				p {
					font-size: 18px;
				}
			}
		
			nav {
					
				padding: 20px 0;
				
			}
		
		
		}		
	}
	
}