header#global-header {

	display: block;
	position: relative;
		
	background: 		$black;
	color: 				$white;
	border-bottom: 		10px solid $blue;

	div.container { 
		
		display: 			grid;
		display: 			-ms-grid;
		position: 			relative;
		
		grid-template-columns: 		25% auto;
		-ms-grid-columns: 			25% auto;
		grid-template-columns: 		25% auto;
		-ms-grid-columns: 			25% auto;
		grid-template-areas: 		"logo meta";
		
		padding: 8px 0;
		height: 53px;
		
		justify-self: center;
		
		a {
			color: white;
			text-decoration: none;
		}
		
		div.header-logo {
			grid-area: 		logo;
			-ms-grid-column: 1;
			
			width: 100%;
			
			a {
			
				display: 		grid;
				display: 		-ms-grid;
				position: 		relative;
				float: left;
					
				grid-template-columns: 		auto auto;
				-ms-grid-columns: 		auto auto;
				grid-template-rows:			auto;
				-ms-grid-rows:			auto;
				grid-template-areas: 		"logo wordmark";
				
				justify-content: flex-start;
				
				picture {
					grid-area:			logo;
					-ms-grid-column: 	1;
					margin-right: 		10px;
					source,
					img {
						max-height: 37px;
					}
				}
				h1 {
					grid-area:			wordmark;
					-ms-grid-column: 	2;

					margin: 0;
					padding: 0;
					
					font-size: 24px;
					line-height: 37px;
				}
				
				&:hover,
				&:focus {
					border-bottom: 1px solid #ffffff;
				}
			
			}
		}
		
		div.header-options {
			
			display: 			block;
			
			grid-area: 			meta;
			-ms-grid-column: 	2;
			
			text-align: right;
			
			ul {
				
				list-style: none;
			
				li {
					
					display: inline;
						
					margin: 0;
					padding: 0;
					margin-left: 30px;
					
					font-size: 18px;
					line-height: 37px;
					font-weight: 600;
					
					
					&:hover,
					&:focus {
						text-decoration: underline;
						cursor: hand;
					}
				}
				
			}
		}
		
	}
	
}

header#global-header.home {
	background: $blue;
	border-bottom: none;
}

header#global-header.four-oh-four {
	border-color: $red;
}

