main#page {

	min-height: 100vh;
	min-width: 100vw;

	@include gradient-background($brand-purple, $brand-pink);

	color: #fff;

	div#page {
		min-height: 100vh;

		img.home {
			max-width: 150px;
			height: auto;
			margin-bottom: 3rem;
		}

		a {

			color: #ffffff;
			text-decoration: underline;

			&.btn {
				margin-top: 2rem;
			}

			&.btn-app {
				color: $brand-primary !important;
				background: #ffffff;
				border: 1px solid #ffffff;
				text-decoration: none !important;

				&:hover,
				&:focus {
					color: #ffffff !important;
					background: transparent;
					border: 1px solid #ffffff;
				}
			}
			&.btn-outline-app {
				color: #ffffff !important;
				background: transparent;
				border: 1px solid #ffffff;
				text-decoration: none !important;

				&:hover,
				&:focus {
					color: $brand-primary !important;
					background: #ffffff;
					border: 1px solid #ffffff;
				}
			}
		}

		.alert-primary {
			border: 1px solid #ffffff;
		}
	}

}