@include media-breakpoint-only(xs) {

	img.app-logo--home {
		max-width: 100px !important;
	}

	img.app-logo--four-oh-four {
		max-width: 100px !important;
	}

	img.app-logo--connect, img.app-logo--print {
		max-width: 200px !important;
	}

}

@include media-breakpoint-only(sm) {

	img.app-logo--home {
		max-width: 150px !important;
	}

	img.app-logo--four-oh-four {
		max-width: 200px !important;
	}

	img.app-logo--connect, img.app-logo--print {
		max-width: 250px !important;
	}

}

@include media-breakpoint-only(md) {

	img.app-logo--home {
		max-width: 200px;
	}

	img.app-logo--four-oh-four {
		max-width: 200px !important;
	}

	img.app-logo--connect, img.app-logo--print {
		max-width: 250px !important;
	}

}

@include media-breakpoint-only(lg) {

	img.app-logo--home {
		max-width: 200px;
	}

	img.app-logo--four-oh-four {
		max-width: 300px !important;
	}

	img.app-logo--connect, img.app-logo--print {
		max-width: 350px !important;
	}

}

@include media-breakpoint-only(xl) {

	img.app-logo--home {
		max-width: 200px;
	}

	img.app-logo--four-oh-four {
		max-width: 300px !important;
	}

	img.app-logo--connect, img.app-logo--print {
		max-width: 350px !important;
	}

}