div#loggedOut {

	min-height: 100vh;
	min-width: 100vw;

	@include gradient-background($brand-turquoise,$brand-blue);

	color: #fff;

	div#page {
		min-height: 100vh;

		text-align: center;

		h1 {
			text-align: center;
		}

		img.loggedOut {
			max-width: 350px;
			height: auto;
			margin-bottom: 3rem;
		}

		a {
			color: #ffffff;
			text-decoration: underline;

			&.btn {
				margin-top: 2rem;
			}

			&.btn-app {
				color: $brand-turquoise !important;
				background: #ffffff;
				border: 1px solid #ffffff;
				text-decoration: none !important;

				&:hover,
				&:focus {
					color: #ffffff !important;
					background: transparent;
					border: 1px solid #ffffff;
				}
			}
			&.btn-outline-app {
				color: #ffffff !important;
				background: transparent;
				border: 1px solid #ffffff;
				text-decoration: none !important;

				&:hover,
				&:focus {
					color: $brand-turquoise !important;
					background: #ffffff;
					border: 1px solid #ffffff;
				}
			}
		}
	}

}

a#disconnect {
	position: absolute;
	display: block;
	top: 1rem;
	bottom: auto;
	left: auto;
	right: 1rem;
	z-index: 1000000;

	@include text-hide;

	width: 30px;
	height: 30px;

	background-image: url('../img/logout.png');
	background-size: contain;
}

a#reset {
	position: absolute;
	display: block;
	top: 1rem;
	bottom: auto;
	right: auto;
	left: 1rem;
	z-index: 1000000;

	@include text-hide;

	width: 30px;
	height: 30px;

	background-image: url('../img/reset.png');
	background-size: contain;
}

div#loggedIn-Options {

	height: 100vh;
	width: 100vw;

	position: relative;
	display: block;

	@include gradient-background($brand-purple, $brand-pink);

	color: #fff;

	div#page {

		min-height: 100vh;

		h1 {
			text-align: center;
			margin-bottom: 1rem;
		}

		h2 {
			text-align: center;
			margin-bottom: 2rem;
		}

		img.loggedOut, img.print {
			max-width: 350px;
			height: auto;
			margin-bottom: 3rem;
		}

		a, button {
			color: #ffffff;
			text-decoration: underline;

			&.btn {
				margin-top: 2rem;
			}

			&.btn-app {
				color: $brand-pink !important;
				background: #ffffff;
				border: 1px solid #ffffff;
				text-decoration: none !important;

				&:hover,
				&:focus {
					color: #ffffff !important;
					background: transparent;
					border: 1px solid #ffffff;
				}
			}
			&.btn-outline-app {
				color: #ffffff !important;
				background: transparent;
				border: 1px solid #ffffff;
				text-decoration: none !important;

				&:hover,
				&:focus {
					color: $brand-pink !important;
					background: #ffffff;
					border: 1px solid #ffffff;
				}
			}
		}

		fieldset {

			text-align: center;

			div.option {
				padding: 1rem 1rem;

				border-radius: 0px;

				img {
					margin: 2rem 0;
				}

				[type="radio"] {
					border: 0;
					clip: rect(0 0 0 0);
					height: 1px;
					margin: -1px;
					overflow: hidden;
					padding: 0;
					position: absolute;
					width: 1px;
				}

				[type="checkbox"] {
					border: 0;
					clip: rect(0 0 0 0);
					height: 1px;
					margin: -1px;
					overflow: hidden;
					padding: 0;
					position: absolute;
					width: 1px;
				}

				span {
					padding: 0.5rem 0.75rem;
				}

				[type="radio"]:checked + span {
					padding: 0.5rem 0.75rem;

					background: #ffffff;
					color: $brand-primary;

					border-radius: 50px;
				}

				[type="checkbox"] ~ span {
					padding: 0.5rem 0.75rem;

					background: transparent;
					color: #ffffff;

					border-radius: 100px;
					border: 1px solid #ffffff;

					span.tick {
						position: relative;
					    display: inline-block;
					    left: -6px;
					    top: 6px;

					    height: 25px;
					    width: 25px;

					    border-radius: 150px;

					    background: transparent;
					    border: 1px solid #ffffff;

					}

				}

				[type="checkbox"]:checked ~ span {
					padding: 0.5rem 0.75rem;

					background: #ffffff;
					color: $brand-primary;

					border-radius: 150px;

					span.tick {
						position: relative;
					    display: inline-block;
					    left: -6px;
					    top: 6px;

					    height: 25px;
					    width: 25px;

					    border-radius: 100px;

					    background: #d40072;
					    color: #ffffff;

					    &:after {
						    content:"✓";
							color: #ffffff;
						    position: absolute;
						    display: inline-block;
						    left: 6px;
						    top: 0;
					    }

					}

				}
			}
		}
	}

}

div#loggedIn-Output {

	p, li {
		font-size: 0.8rem;
	}

	#output {

		position: relative;
		display: block;

		div#meta {
			@include gradient-background($brand-purple, $brand-pink);
			color: #FFFFFF;

			margin: 0;
			padding: 2rem;
			float: left;

			h1 {
				margin: 1rem 0;
			}

			p {
				margin: 1rem 0;
			}

			p.foot {
				position: absolute;
				top:90vh;
			}
		}

		div#lists {
			position: absolute;
			display: block;

			width: auto;
			height: auto;

			top: 0;
			bottom: auto;

			overflow-x: scroll;
			overflow-y: visible;

			div.list {
				position: relative;
				display: block;
				float: left;

				height: 100vh;

				padding: 0 1rem;

				overflow-x: hidden;
				overflow-y: scroll;

				&.print-col-2 {
					width: 50vw;
				}
				&.print-col-3 {
					width: 33.3vw;
				}
				&.print-col-4 {
					width: 25vw;
				}
			}

			h1 {
				font-size: 1.2rem;
			}

			h2 {
				font-size: 0.9rem;
				margin: 0.25rem 0 0.2rem 0;
				padding: 0;
				border-bottom: 1px solid;
			}

			ul.cards {
				list-style: none;
				margin: 0px;
				padding: 0;

				li {

					p {
						margin-bottom: 0.5rem;
					}

					&.ticks-on {
						margin-left: 1.5rem;
					}


					&.ticks-off {

					}

					span.tick {
						position: absolute;
						left: 1rem;
						margin-top: 2px;
						width: 1rem;
						height: 1rem;
						background: #006435;
						color: #ffffff !important;
						border-radius: 50px;
						text-align: center;
						font-size: 0.7rem;
						line-height: 1rem;
					}
					span.empty-tick {
						@extend .tick;
					    border: 2px solid #9c9c9c;
					    background: #fff;
					}

				}

			}

		}

		div#swim-lanes {

			span.blank {
				content: " ";
			    display: inline-block;
			    position: relative;
			    float: left;
			    margin: 0;
			    text-align: center;
			    width: 1px;
			    height: 1px;
			}

			position: absolute;
			display: block;

			width: 100%;

			top: 0;
			bottom: auto;

			overflow-x: visible;
			overflow-y: visible;

			div#thead {
				height: 100vh;
				@include gradient-background($brand-purple, $brand-pink);
				color: #ffffff;

				padding: 2rem;

				p.foot {
					position: absolute;
					top:95vh;
				}
			}

			div.swim-lane-group {
				position: relative;
				display: block;

				width: 100%;

				height: 100vh;

				div.columns {
					position: relative;
					display: inline-block;
					float: left;

					width: 100%;

					div {
						position: relative;
						display: block;
						float: left;

						padding: 0 1rem;

						&.first-column {
							width: 10vw;
						}
						&.print-col-2 {
							width: 45vw;
						}
						&.print-col-3 {
							width: 30vw;
						}
						&.print-col-4 {
							width: 22.5vw;
						}
					}
				}

				div.swim-lane {

					position: relative;
					display: inline-block;
					float: left;

					padding: 0.5rem 0;

					width: 100%;

					border-top: 1px solid $brand-primary;

					div {

						position: relative;
						display: block;
						float: left;

						&.first-column {
							width: 10vw;
							h2.label {
								padding: 0;
							}
						}
						&.print-col-2 {
							width: 45vw;
						}
						&.print-col-3 {
							width: 30vw;
						}
						&.print-col-4 {
							width: 22.5vw;
						}
					}
				}

				h1 {
					font-size: 1rem !important;
				}

				h2 {
					font-size: 0.9rem;
					margin: 0.25rem 0 0.2rem 0;
					padding: 0;
				}

				ul.cards {
					list-style: none;

				    display: block;
				    position: relative;

				    margin: 0;
				    padding: 0 1rem;

					li {

						p {
							margin-bottom: 0rem;
						}

						&.ticks-on {
							margin-left: 1.5rem;
						}


						&.ticks-off {

						}

						span.tick {
							position: absolute;
							left: 1rem;
							margin-top: 2px;
							width: 1rem;
							height: 1rem;
							background: #006435;
							color: #ffffff !important;
							border-radius: 50px;
							text-align: center;
							font-size: 0.7rem;
							line-height: 1rem;
						}
						span.empty-tick {
							@extend .tick;
						    border: 2px solid #9c9c9c;
						    background: #fff;
						}

					}

				}

			}
		}

		.badge {
			margin-right: 0.3rem;
			border-radius: $border-radius;
		}

		.badge-green {
			background: #006435;
			border: 1px solid #006435;
			color: #ffffff;
		}

		.badge-yellow {
			background: #FFBF47;
			color: #ffffff;
			border: 1px solid #FFBF47;
		}

		.badge-orange {
			background: #F47738;
			color: #ffffff;
			border: 1px solid #F47738;
		}

		.badge-purple {
			background: #2E358B;
			color: #ffffff;
			border: 1px solid #2E358B;
		}

		.badge-red {
			background: #B10E1E;
			color: #ffffff;
			border: 1px solid #B10E1E;
		}

		.badge-blue {
			background: #005EA5;
			color: #ffffff;
			border: 1px solid #005EA5;
		}

		.badge-sky {
			background: #2B8CC4;
			color: #ffffff;
			border: 1px solid #2B8CC4;
		}

		.badge-lime {
			background: #85994B;
			color: #ffffff;
			border: 1px solid #85994B;
		}

		.badge-pink {
			background: #D53880;
			color: #ffffff;
			border: 1px solid #D53880;
		}

		.badge-pink--inverse {
			color: #D53880;
			border: 1px solid #D53880;
			background: #ffffff;
		}

		.badge-black {
			background: #000000;
			color: #ffffff;
			border: 1px solid #000000;
		}

		.green {
			color: #006435;
		}

		.yellow {
			color: #FFBF47;
		}

		.orange {
			color: #F47738;
		}

		.purple {
			color: #2E358B;
		}

		.red {
			color: #B10E1E;
		}

		.blue {
			color: #005EA5;
		}

		.sky {
			color: #2B8CC4;
		}

		.lime {
			color: #85994B;
		}

		.pink {
			color: #D53880;
		}

		.black {
			color: #000000;
		}

	}

}