<picture class="loggedout-logo">
	<source srcset="{{ '/app/Trello-logo-icon-white.svg' | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" type="image/svg+xml">
	<img src="{{ '/app/Trello-logo-icon-white.png' | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}">
</picture>

<div class="loggedout-message">
		
	<h1>Connect to Trello</h1>

	<p><strong>Before you can use this application, you need to connect to Trello.</strong></p>

	<p>{{ site.title }} will redirect you to the Trello website to log in.</p>
	<p>When you're done, you'll return here.</p>

	<nav id="connect"><a href="javascript:void(0)" id="connectLink" class="button" role="button">Connect to Trello</a></nav>

</div>