<div class="container">
	<div class="row">
	    <div class="col-12">

	    	<img class="app-logo--connect" src="{{ '/app/logged-out.png' | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" alt="{{ site.title }} logo (left) and the Trello logo (right), with an arrow pointing from left to right conencting both logos">

			<h1 class="app-heading--app">Connect to Trello</h1>

			<p><strong>Before you can use {{ site.title }}, you need to connect to Trello.</strong></p>

			<p>{{ site.title }} will redirect you to the Trello website to log in.<br>When you're done, you'll return here.</p>

			<p class="app-button--app"><a id="connectLink" class="btn btn-primary" role="button">Connect to Trello</a></p>

	    </div>
	</div>
</div>