<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Article" lang="en">

	<head>

		{% include head.html %}

	</head>

	<body>

		<!--[if lt IE 9]>
		    <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<main {% if page.layout != "app" %}id="page"{% endif %} tabindex="-1">

			{{ content }}

		</main>

		{% if page.layout != "app" %}{% include footer.html %}{%endif%}

	</body>

</html>