---
layout: default
---

<main id="four-oh-four">
	
	<div class="container">
		
		<div id="error-message">
			
			<picture class="error-image">
				<source srcset="{{ '/app/404.svg' | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}" type="image/svg+xml">
				<img src="{{ '/app/404.png' | prepend: site.image-path | prepend: site.asset-path | prepend: site.baseurl | prepend: site.url }}">
			</picture>
			
			<div class="error-message">
					
				<h1>Page not found</h1>
			<p class="lead">You've arrived somewhere that isn't anywhere at all.<br>Frightfully sorry about that.</p>

				<nav><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}" class="button">Go home</a></nav>
			
			</div>

			

		</div>

	</div>

</main>