---
layout: default
---


<main id="home">
	
	<header>

		<div class="container not-ms-grid">
				
			<h1>Print your boards</h1>
			<p class="lead">Turn Trello boards into easily printable dashboards in a few clicks.</p>

			<nav><a href="{{ '/app/'  | prepend: site.baseurl | prepend: site.url }}" class="button" title="Start creating a dashboard">Get started</a></nav>

		</div>	
	
	</header>
	
	<div class="container">
		
		<section class="content">
						
			{{ content }}
	
		</section>
	
	</div>

</main>